html {
    overflow: hidden;
}

/*tombol delete dan edit*/
td.button-container{
    width: 80px;
}
#table-button, #card-button{
    display:none;
}
.delete-button, .edit-button{
    color: white;
}
.delete-button.oncard, .edit-button.oncard{
    color: black;
    font-size: 32px;
}
.delete-button.oncard.promo, .edit-button.oncard.promo{
    font-size: 28px;
}
.edit-button:hover{
    color: #ff8000;
}
.delete-button:hover{
    color: #ed2227;
}
/*-----------------------------------------------------------*/

/*table*/
tr{
    height: 60px;
}
/*-----------------------------------------------------------*/

.blue-dark-grey {
    background-color: #1f202c !important;
}

nav ul li a:hover {
    background-color: rgb(167, 83, 0);
 }

.no-pointer-event {
    pointer-events: none !important;
}

body {
    background-color: #1f202c !important;
}

.no-shadows {
    box-shadow: none !important;
}

.breadcrumbs-style a {
    font-size: 15px;
}

.bottom-border {
    border-bottom: 2px solid #FF8000;
}

.small-font {
    font-size: 12px !important;
}

.tabs .tab a{
    color:white;
} /*Black color to the text*/

.tabs .tab a:hover {
    color:#FF8000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:transparent;
    color:white;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#FF8000;
} /*Color of underline*/

.tabs .tab a:focus.active {
    color:white;
    /*Custom Text Color While Active*/
    background-color:transparent;
    /*Custom Background Color While Active*/
}

.content-color {
    background-color: #1A1B26;
}

.breadcrumb:hover {
    color: #FF8000;
}

.bold-font {
    font-weight: bold;
}

/*card*/
.rounded-card {
	border-radius: 12px 12px 12px 12px;
	/* or */
	border-radius: 12px 12px;
}
.card-content.card-content-stok-barang{
    height: 130px;
    padding: 2%;
}
.margin-0{
    margin: 0;
}

.small-text {
    font-size: 15px;
}

.orange-color {
    color: #FF8000 !important;
}

/* Materialize Form */

  /* label focus color */
 .input-field input:focus + label {
    color: #FF8000 !important;
  }

  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #FF8000 !important;
    box-shadow: 0 1px 0 0 #FF8000 !important
  }

.clickable-row {
    cursor: pointer;
}

/*icon color*/
i.icon-green{
    color: #008813;
}

.container-wide {
	width: 100%;
	max-width: 1150px;
}

.icon-home {
    width: 120px !important;
    height: 120px !important;
    margin: auto;
    padding: 10px;
}

.padding-login {
    padding: 50px !important;
}

.small-text-error {
    font-size: 1px !important;
}
/* hover on card */