<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="css/style.css">


	<title>Finance</title>
</head>

<body style="background-color: teal;">

	<div class="navbar-fixed">
		<nav class="no-shadow">
			<div class="nav-wrapper container">
				<a href="#" class="brand-logo">Logo</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="index.html">Home</a></li>
					<li><a href="input-transaksi.html">Input Transaksi</a></li>
					<li class="active"><a href="validasi.html">Validasi</a></li>
					<li><a href="laporan.html">Laporan</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<a href="validasi-buka.html">
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="../../../assets/img/finance/10_Dota2-Witch-Doctor.jpg">
						</div>
						<div class="card-content">
							<span class="card-title">Penggajian</span>
							<p>I am a very simple card. I am good at containing small bits of information.
								I am convenient because I require little markup to use effectively.</p>
						</div>
					</div>
				</div>
			</a>

			<a href="#">
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="../../../assets/img/finance/10_Dota2-Witch-Doctor.jpg">
						</div>
						<div class="card-content">
							<span class="card-title">Bahan Baku</span>
							<p>I am a very simple card. I am good at containing small bits of information.
								I am convenient because I require little markup to use effectively.</p>
						</div>
					</div>
				</div>
			</a>

			<a href="#">
				<div class="col s12 m4">
					<div class="card">
						<div class="card-image">
							<img src="../../../assets/img/finance/10_Dota2-Witch-Doctor.jpg">
						</div>
						<div class="card-content">
							<span class="card-title">Sales Order</span>
							<p>I am a very simple card. I am good at containing small bits of information.
								I am convenient because I require little markup to use effectively.</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>


	<script src="C:\xampp\htdocs\Erpapp\application\views\finance\node_modules\materialize-css\dist\js\materialize.js">
	</script>
</body>

</html>
